<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.monitor.mapper.monitor.EventMapper" >


	<!--预警级别统计基础颜色数据-->
	<select id="basicColor" resultType="map">
	select * from (
  		select  '0' colorId, '红色【I级】' name, '0' count  from  dual
	  union all select  '1' colorId,'橙色【II级】' name, '0' count  from  dual
	  union all select  '2' colorId,'黄色【III级】' name, '0' count  from  dual
	  union all select  '3' colorId,'蓝色【IV级】' name, '0' count  from  dual
	  )f where 1=1
	</select>

	<!--预警级别统计查询库中数据-->
	<select id="drawWarnLevelTotal" resultType="map">
		select  id,colorLevelName,count(colorLevelName) count from (
		select distinct w.id taskId,d.disaster_level id,
		case d.disaster_level when 0 then '红色【I级】' when 1 then '橙色【II级】' when 2 then '黄色【III级】' else '蓝色【IV级】' end colorLevelName
		from warn_edit w
		left join disaster d on w.disaster_id= d.id
		left join warn_edit_content c on w.id=c.warn_edit_id
		where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
			]]>
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
			]]>
		<if test="disasterId != null and disasterId != '' ">
			AND w.disaster_id IN
			<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="warnColorNum != null and warnColorNum != '' ">
			AND w.disaster_color IN
			<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="channelId != null and channelId != '' ">
			AND c.channel_id in
			<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="areaId != null and areaId != ''">
			AND c.area_id in
			<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		)t group by id,COLORLEVELNAME
	</select>

	<!--灾种统计-->
	<select id="disasterSts" resultType="map">
		select disasterId,disasterName,count(colorLevelName) count,colorLevelName FROM (
		select distinct w.disaster_id disasterId,w.disaster_name disasterName,
		case w.disaster_color WHEN 0 then '红色' WHEN 1 then '橙色' WHEN 2 then '黄色' else '蓝色' end
		colorLevelName from warn_edit w
		left join warn_edit_content c on w.id=c.warn_edit_id
		where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
		<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
			]]>
		<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
			]]>
		<if test="disasterId != null and disasterId != '' ">
			AND w.disaster_id IN
			<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="warnColorNum != null and warnColorNum != '' ">
			AND w.disaster_color IN
			<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="channelId != null and channelId != '' ">
			AND c.channel_id in
			<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="areaId != null and areaId != ''">
			AND c.area_id in
			<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		)a group by disasterId,disasterName, colorLevelName
	</select>

	<!--发布地区统计-->
	<select id="drawPublishAreaTotal" resultType="map">
		select areaId, city,count(colorLevelName) count,colorLevelName from (
		SELECT distinct a.area_name city,a.level,c.area_id areaId, w.id,
		case w.disaster_color WHEN 0 then '红色' WHEN 1 then '橙色' WHEN 2 then '黄色' else '蓝色' end colorLevelName
		FROM warn_edit w left join warn_edit_content c on c.warn_edit_id=w.id
		left join area a on c.area_id=a.id
		where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
		<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
			]]>
		<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
			]]>
		<if test="disasterId != null and disasterId != '' ">
			AND w.disaster_id IN
			<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="warnColorNum != null and warnColorNum != '' ">
			AND w.disaster_color IN
			<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="channelId != null and channelId != '' ">
			AND c.channel_id in
			<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="areaId != null and areaId != ''">
			AND c.area_id in
			<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		)a group by  areaId,city, colorLevelName order by level
	</select>


	<!--24小时预警列表-->
	<select id="warnList" resultType="map">

		SELECT * FROM (
			select distinct w.id taskId,DATE_FORMAT(w.create_time, '%Y-%m-%d %H:%i:%s') createTime,
			w.disaster_id disasterId,w.disaster_name disasterName,
			case w.disaster_color when 0 then '红色' when 1 then '橙色' when 2 then '黄色' else '蓝色' end colorLevelName,
			case w.disaster_level when 0 then 'Ⅰ级/特别重大' when 1 then 'Ⅱ级/重大' when 2 then 'Ⅲ级/较大' else 'Ⅳ级/一般' end numberLevelName,
			DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') sendTime,
			DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') entryTime, d.icon img,
			w.title
			from warn_edit w
			left join disaster d on w.disaster_id=d.id
			where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
				<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
					]]>
				<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
					]]>
			<if test="disasterId != null and disasterId != '' ">
				AND w.disaster_id IN
				<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="warnColorNum != null and warnColorNum != '' ">
				AND w.disaster_color IN
				<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="channelId != null and channelId != '' ">
				AND c.channel_id in
				<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="areaId != null and areaId != ''">
				AND c.area_id in
				<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		) tt limit ${min},${max}

	</select>

	<!--24小时预警列表数量-->
	<select id="warnListCount" resultType="java.lang.Integer">
		select count(id) from (
			select distinct w.id  from warn_edit w
			where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
				]]>
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
				]]>
			<if test="disasterId != null and disasterId != '' ">
				AND w.disaster_id IN
				<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="warnColorNum != null and warnColorNum != '' ">
				AND w.disaster_color IN
				<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="channelId != null and channelId != '' ">
				AND c.channel_id in
				<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="areaId != null and areaId != ''">
				AND c.area_id in
				<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
		)t
	</select>

	<select id="sendWarnStats" resultType="map">
	select type,colorLevelName,count(colorLevelName) count from (
			select warn.taskId,warn.colorLevelName,disa.name type from(
			select war.taskId,war.disasterId,dis.p_id , war.colorLevelName from (
			select wa.taskId,wa.disasterId,ds.p_id , wa.colorLevelName from	(
			select distinct w.id taskId,d.p_id disasterId, w.disaster_id disId, w.disaster_color warnColorNum,
				case w.disaster_color when 0 then '红色' when 1 then '橙色' when 2 then '黄色' else '蓝色' end colorLevelName
				from warn_edit w
				LEFT JOIN disaster d on w.disaster_id =d.id
				left join warn_edit_content c on w.id=c.warn_edit_id
				where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
					<![CDATA[
							AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
						]]>
					<![CDATA[
							AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
						]]>
					<if test="disasterId != null and disasterId != '' ">
						AND w.disaster_id IN
						<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
					<if test="warnColorNum != null and warnColorNum != '' ">
						AND w.disaster_color IN
						<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
					<if test="channelId != null and channelId != '' ">
						AND c.channel_id in
						<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
					<if test="areaId != null and areaId != ''">
						AND c.area_id in
						<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
							#{item}
						</foreach>
					</if>
			) wa
			left JOIN disaster ds on wa.disasterId=ds.id) war
			left join disaster dis on war.p_id=dis.id) warn
			left join disaster disa on warn.p_id=disa.id
		)s group by type,colorLevelName
	</select>

	<!--渠道基础信息-->
	<select id="basicChannel" resultType="map">
	     select id, name ,0 count  from channel where area_id=#{empAreaId}
	</select>

	<!--发布渠道统计-->
	<select id="channelStatistics" resultType="map">
		select channelName,channelId ,count(channelId) count  from(
		select distinct w.id taskId,c.channel_id channelId,
		ch.name channelName  from warn_edit w left join warn_edit_content c on w.id=c.warn_edit_id
		left JOIN channel ch on ch.id =c.channel_id
		where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
			]]>
			<![CDATA[
				AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
			]]>
		<if test="disasterId != null and disasterId != '' ">
			AND w.disaster_id IN
			<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="warnColorNum != null and warnColorNum != '' ">
			AND w.disaster_color IN
			<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="channelId != null and channelId != '' ">
			AND c.channel_id in
			<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="areaId != null and areaId != ''">
			AND c.area_id in
			<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		)s group by channelName,channelId
	</select>

	<!--各市预警统计-->
	<select id="hourWarn" resultType="map">
		select sendTime,colorLevelName,count(colorLevelName) count from (
		select distinct w.id taskId,
		case w.disaster_color when 0 then '红色' when 1 then '橙色' when 2 then '黄色' else '蓝色' end colorLevelName,
		DATE_FORMAT(w.send_time, '%Y-%m-%d') sendTime from warn_edit w
		left join warn_edit_content c on w.id=c.warn_edit_id
		where 1=1 and w.status=1 and FIND_IN_SET(w.area_id, getAreaCList(#{empAreaId}))
			<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
				]]>
			<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
				]]>
		<if test="disasterId != null and disasterId != '' ">
			AND w.disaster_id IN
			<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="warnColorNum != null and warnColorNum != '' ">
			AND w.disaster_color IN
			<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="channelId != null and channelId != '' ">
			AND c.channel_id in
			<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		<if test="areaId != null and areaId != ''">
			AND c.area_id in
			<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
		) a group by sendTime,colorLevelName order by sendTime desc
	</select>

	<!--查询所有渠道-->
	<select id="findChannelAll" resultType="com.hyt.monitor.entity.monitor.Channel">
		select * from channel where type=0 and area_id =#{empAreaId}
	</select>

	<!--查询地区树-->
	<select id="areaTree" resultType="map">
		select id, code, area_name areaName, level,p_id pid,
		(select area_name from area where id = t.p_id) parentAreaName  from area t
		where FIND_IN_SET(t.id, getAreaCList(#{empAreaId}))
	</select>

	<!--获取灾种树-->
	<select id="disasterTree" resultType="map">
		select id, code, name, type ,p_id pid, is_config config,
		case disaster_color when 0 then '红色' when 1 then '橙色' when 2 then '黄色' else '蓝色' end colorLevelName,
		(select name from disaster where id = t.p_id ) parentName  from disaster t
	</select>

	<!--查询发布的预警-->
	<select id="getWarnData" resultType="map">
	    select distinct w.id taskId, w.title, w.disaster_id disasterId,
			w.disaster_name disasterName,w.disaster_color,
			case w.disaster_color when 0 then '红色' when 1 then '橙色' when 2 then '黄色' else '蓝色' end colorLevelName,
			DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') sendTime, d.icon,
			a.id areaId,a.area_name areaName,
			a.longitude,a.latitude,c.content,o.organization_name orgName
			from warn_edit w
			LEFT JOIN organization o on w.organization_id=o.id
			LEFT JOIN warn_edit_content c on w.id=c.warn_edit_id
			LEFT JOIN area a on c.area_id=a.id
			LEFT JOIN disaster d on w.disaster_id=d.id
			LEFT JOIN channel ch on ch.id=c.channel_id
			where 1=1 and w.status=1 and a.level=3
			<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') >= #{startTime}
				]]>
			<![CDATA[
					AND DATE_FORMAT(w.send_time, '%Y-%m-%d %H:%i:%s') <= #{endTime}
				]]>
			<if test="disasterId != null and disasterId != '' ">
				AND w.disaster_id IN
				<foreach collection="disasterId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="warnColorNum != null and warnColorNum != '' ">
				AND w.disaster_color IN
				<foreach collection="warnColorNum.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="channelId != null and channelId != '' ">
				AND c.channel_id in
				<foreach collection="channelId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			<if test="areaId != null and areaId != ''">
				AND c.area_id in
				<foreach collection="areaId.split(',')" item="item" open="(" close=")" separator=",">
					#{item}
				</foreach>
			</if>
			ORDER BY w.send_time DESC
	</select>

	<!-- 根据ID和地区ID获取发布的渠道-->
	<select id="channelsByIdArea" resultType="map">
	   select ch.name ,c.content from  warn_edit_content c
	   left join channel ch  on c.channel_id=ch.id
	   where c.warn_edit_id=#{taskId} and c.area_id=#{areaId}
	</select>

</mapper>