<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>华池县突发事件预警信息发布系统</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/map/plugin/bootstrap4/css/bootstrap.css}" media="all">
    <link rel="stylesheet" th:href="@{/map/font/css/font-awesome.css}" media="all">
    <link rel="stylesheet" th:href="@{/map/plugin/zTree_v3/css/awesomeStyle/awesome.css}" media="all">
    <link rel="stylesheet" th:href="@{/map/css/map.css}" media="all">
</head>
<body class="moduleContent" >
    <!-- 地区ID -->
    <!--<input type="hidden" id="areaId" value="${areaId}"/>-->
    <!--&lt;!&ndash; 地区编码 &ndash;&gt;-->
    <!--<input type="hidden" id="areaCode" value="${areaCode}"/>-->
    <!--&lt;!&ndash; 地区名称 &ndash;&gt;-->
    <!--<input type="hidden" id="areaName" value="${system.areaName }"/>-->
    <!--&lt;!&ndash; 地图展示GIS服务地址 &ndash;&gt;-->
    <!--<input type="hidden" id="gisMapUrl" value="${system.gisMapUrl }"/>-->
    <!--&lt;!&ndash; 地图放大缩小倍率 &ndash;&gt;-->
    <!--<input type="hidden" id="zoom" value="${system.zoom }"/>-->
    <!--&lt;!&ndash; 地图中心点 &ndash;&gt;-->
    <!--<input type="hidden" id="centerPoint" value="${system.centerPoint }"/>-->
    <!--&lt;!&ndash; 地图边界数据 &ndash;&gt;-->
    <!--<input type="hidden" id="areaBorderData" value="${system.areaBorderData }"/>-->
    <!--&lt;!&ndash; 地图边界 &ndash;&gt;-->
    <!--<input type="hidden" id="areaBorder" value="${system.areaBorder }"/>-->
    <!--&lt;!&ndash; 机构id &ndash;&gt;-->
    <!--<input type="hidden" id="orgId" value="${orgId }"/>-->
    <!--&lt;!&ndash; 机构名称 &ndash;&gt;-->
    <!--<input type="hidden" id="orgName" value="${orgName }"/>-->
    <!--&lt;!&ndash; 员工id &ndash;&gt;-->
    <!--<input type="hidden" id="employeeId" value="${employeeId }"/>-->
    <!-- 导航栏开始 -->
    <nav class="navbar navbar-expand navbar-dark fixed-top p-0 bg-navy-blue">

        <div class="col col-sm-4 col-md-4 " style="position: relative;" >
            <ul class="navbar-nav  pr-0 flex-row-reverse" style="float:left">
                <li title="渠道监控" class="nav-item mr-1 nav-menu-4"><i id="mapChannelLink"class="fa fa-dashboard" aria-hidden="true"></i></li>
                <li title="网络监控" class="nav-item mr-1 nav-menu-4"><i id="mapNetworkMonitoring" class="fa fa-ravelry" aria-hidden="true"></i></li>
                <!--<li title="辅助决策" class="nav-item mr-1 nav-menu-4"><i id="mapWarnHome" class="fa fa-map-o" aria-hidden="true"></i>-->
                <li title="一键发布统计" class="nav-item mr-1 nav-menu-4"><i id="warnPublishSts" class="fa fa-bell" aria-hidden="true"></i></li>
                <li title="预警信息" class="nav-item mr-1 nav-menu-4"><i id="warnMessage" class="fa fa-laptop" aria-hidden="true"></i></li>
            </ul>
        </div>
        <ul class="navbar-nav title col col-sm-4 col-md-4 text-center">
            <li class="nav-item col-sm-12 col-md-12">大庆市突发事件预警信息发布系统</li>
        </ul>

        <div class="col col-sm-4 col-md-4" id="top-tool">
            <div class="navbar-nav pr-0 flex-row-reverse">
                <span id="quit" class="map-option" title="退出"><i class="fa fa-power-off" aria-hidden="true"></i></span>
            </div>
            <div class="navbar-nav pr-0 flex-row-reverse">
                <span id="serverManager" class="map-option" title="后台管理"><i class="fa fa-cog" aria-hidden="true"></i></span>
            </div>
            <ul class="navbar-nav modular-show"  style="float:right">
            </ul>
        </div>
    </nav>
    <!-- 导航栏结束 -->

    <!-- 地图开始 -->
    <div id="map" class="map"></div>
    <!-- 地图结束 -->

    <script th:src="@{/map/plugin/jQuery/jquery-3.2.1.min.js}" ></script>
    <script th:src="@{/map/plugin/jQuery/popper.min.js}" ></script>
    <script th:src="@{/map/echarts/echarts.min.js}" ></script>
    <script th:src="@{/map/echarts/wonderland.js}" ></script>
    <script th:src="@{/map/plugin/bootstrap4/js/bootstrap.min.js}" ></script>
    <script th:src="@{/map/plugin/layDate-v5.0.5/laydate/laydate.js}" ></script>
    <script th:src="@{/map/plugin/zTree_v3/js/jquery.ztree.core.js}" ></script>
    <script th:src="@{/map/plugin/zTree_v3/js/jquery.ztree.excheck.js}" ></script>


    <script th:src="@{/map/js/map-home-move.js}"></script>
    <!-- 地图引用环境结束 -->
    <script th:src="@{/map/js/map-moudle.js}"></script>
    <!-- 汉字转拼音 -->
    <script th:src="@{/map/js/changepinyin.js}"></script>

    <!--<script th:src="@{/map/js/map-home-move.js}"></script>-->
    <script type="text/javascript" src="http://api.tianditu.gov.cn/api?v=4.0&tk=4bb34f627d7b9b33c83ad8eeb1dcf255"></script>
    <!-- 导航菜单控制层 -->
    <script th:src="@{/map/js/map-controller.js}"></script>
    <script>
        let initMap = () => {
            Globel.map = new T.Map('map');
            Globel.map.centerAndZoom(new T.LngLat(108.00385, 36.41907), Globel.zoom);
        };
        initMap();
    </script>
</body>

</html>