<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.ueditor.IServerProductMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.ueditor.Ueditor">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询信息 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
        p.id,
        p.type,
        p.title,
        p.path,
        p.create_time
        FROM server_product p
        left join area a on p.area_id=a.id
        where 1=1 and FIND_IN_SET(p.area_id, getAreaCList(#{empAreaId}))
        <if test="type != null and type != ''">AND p.type = #{type}</if>
        <if test="title != null and title != ''">AND p.title LIKE '${title}%'</if>
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY p.create_time DESC
            </otherwise>
        </choose>
    </select>

</mapper>