<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyt.ocpp.client.mapper.message.IMessageCallbackMainMapper">

    <resultMap id="BaseResultMap" type="com.zxyt.ocpp.client.entity.message.MessageCallbackMain">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="success" jdbcType="INTEGER" property="success"/>

        <result column="fail" jdbcType="INTEGER" property="fail"/>
        <result column="work" jdbcType="VARCHAR" property="work"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>



</mapper>