<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/alibaba/css/iconfont.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">
</head>
<body onLoad="onLoad()">
    <!--CIMISS国家站点ID-->
    <input id="longitude" type="hidden" th:value="${longitude}" >
    <input id="latitude" type="hidden" th:value="${latitude}" >
    <input id="areaName" type="hidden" th:value="${areaName}" >
    <div class="layui-fluid home">

        <!--快捷方式、预警提醒、天气实况-->
        <div class="layui-row layui-col-space5">
            <div class="layui-col-md4">
                <div class="layui-card quick">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-release warn-card-hader-icon"></i>快捷方式</span>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-shortcut" lay-anim="" lay-indicator="inside" lay-arrow="none">
                            <ul class="layui-row layui-col-space5 layui-this">
                                <li class="layui-col-xs3">
                                    <a th:href="@{'home'}" ><i class="layui-icon layui-icon-home"></i><cite>主页</cite></a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/warn/edit'}"><i class="layui-icon layui-icon-tabs"></i><cite>预警编辑</cite></a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/message/send'}" ><i class="layui-icon layui-icon-release"></i><cite>一键发布</cite></a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/ueditor/ueditor'}"><i class="layui-icon layui-icon-template"></i><cite>产品制作</cite></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card message">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-notice warn-card-hader-icon"></i>消息提醒</span>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                            <ul class="layui-row layui-col-space5 layui-this mesRemind">
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/warn/verify'}"><i class="layui-icon layui-icon-survey"></i><cite>待审核</cite></a>
                                    <!--<span>34</span>-->
                                </li>
                                <li class="layui-col-xs3">

                                    <a th:href="@{'page/warn/issue'}"><i class="layui-icon layui-icon-edit"></i><cite>待签发</cite></a>
                                    <!--<span>3</span>-->
                                </li>
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/warn/publish'}"><i class="layui-icon layui-icon-release"></i><cite>待发布</cite></a>
                                    <!--<span>5</span>-->
                                </li>
                         <!--       <li class="layui-col-xs3">
                                    <a th:href="@{'page/warn/list?flow=6'}"><i class="layui-icon layui-icon-fire"></i><cite>被驳回</cite></a>
                                    &lt;!&ndash;<span>0</span>&ndash;&gt;
                                </li>-->
                                <li class="layui-col-xs3">
                                    <a th:href="@{'page/warn/reject'}"><i class="layui-icon layui-icon-fire"></i><cite>被驳回</cite></a>
                                    <!--<span>0</span>-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="layui-card shikuang">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-notice warn-card-hader-icon"></i>天气实况</span>
                    </div>
                    <div class="layui-card-body">
                        <div class="layui-carousel layadmin-carousel layadmin-shortcut sk-item-list">
                            <ul class="layui-row layui-col-space15 layui-this">
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-zuigaoqiwen"></i><cite>最高气温</cite><cite id="maxTem" title="暂无">暂无</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-zuidiqiwen"></i><cite>最低气温</cite><cite id="minTem" title="暂无">暂无</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-jiangshui"></i><cite>降水</cite><cite  id="pre" title="暂无">暂无</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-shidu"></i><cite>湿度</cite><cite id="rhu" title="暂无">暂无</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-fengsu"></i><cite>风速</cite><cite id="winS" title="暂无">暂无</cite>
                                    </a>
                                </li>
                                <li class="layui-col-xs2">
                                    <a href="javascript:;">
                                        <i class="iconfont icon-qiya"></i><cite>气压</cite><cite id="prs" title="暂无">暂无</cite>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--预警消息动态、一键消息动态、一周天气情况-->
        <div class="layui-row layui-col-space5">
            <div class="layui-col-md12">
                <div class="layui-card warn">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-notice warn-card-hader-icon"></i>预警消息动态</span>
                    </div>
                    <div class="layui-card-body">
                        <div class="warn-panel">
                            <span>暂无数据</span>
                            <!--<table class="layui-table" layui-size="sm" lay-filter="table" id="table"></table>-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md4 layui-hide">
                <div class="layui-card week">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-notice warn-card-hader-icon"></i>一周天气情况</span>
                    </div>
                    <div class="layui-card-body">
                        <div id="week-line"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 地图信息展示、其他信息统计展示-->
        <div class="layui-row layui-col-space5">
            <div class="layui-col-md12">
                <div class="layui-card map">
                    <div class="layui-card-header">
                        <span>&nbsp;&nbsp;<i class="layui-icon layui-icon-notice warn-card-hader-icon"></i>预警发布展示</span>
                    </div>
                    <div class="layui-card-body">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" id="external-script" th:src="${tianDiMapUrl}"></script>
    <script th:src="@{/plugins/echarts/echarts.min.js}" ></script>
    <script th:src="@{/plugins/echarts/walden.js}" ></script>
    <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/ewip/main/home.js}" ></script>

    <script th:inline="javascript">
        var longitude=document.getElementById("longitude").value;
        var latitude=document.getElementById("latitude").value;
        var areaName=document.getElementById("areaName").value;
        let tdMap = null;
        var administrative;
        function searchResult(result)
        {
            if(result.getStatus() == 100){
                var data = result.getData();
                showMsg(data);
            }else{
                result.getMsg();
            }
        }
        function showMsg(data){
            for(var i = 0; i < data.length; i++){
                //解释上级行政区划
                if(data[i].parents){
                    var upLevel = "";
                    if(data[i].parents.country){
                        upLevel += data[i].parents.country.name;
                    }
                    if(data[i].parents.province){
                        upLevel += data[i].parents.province.name;
                    }
                }
                if(data[i].points){
                    //绘制行政区划
                    polygon(data[i].points);
                }
                //解释下级行政区划
                if(data[i].child){
                    showMsg(data[i].child);
                    console.log(data[i].child.points);
                    if(data[i].child.points){
                        //绘制行政区划
                        polygon(data[i].child.points);
                    }
                }
            }
        }

        function polygon(points){
            var pointsArr = [];
            for (var i = 0; i < points.length; i++) {
                var regionLngLats = [];
                var regionArr = points[i].region.split(",");
                for (var m = 0; m < regionArr.length; m++) {
                    var lnglatArr = regionArr[m].split(" ");
                    var lnglat = new T.LngLat(lnglatArr[0], lnglatArr[1]);
                    regionLngLats.push(lnglat);
                    pointsArr.push(lnglat);
                }
                //创建面对象
                var polygon = new T.Polygon(regionLngLats,{color: "red", weight: 3, opacity: 1, fillColor: "#FFFFFF", fillOpacity: 0.1});
                //向地图上添加行政区划面
                tdMap.addOverLay(polygon);
            }
            //显示最佳比例尺
            tdMap.setViewport(pointsArr);
        }

        function onLoad(){
            tdMap = new T.Map('container');
            tdMap.centerAndZoom(new T.LngLat(longitude,latitude), 12);

            //创建对象
            administrative = new T.AdministrativeDivision();
            var config = {
                needSubInfo: false,
                needAll: false,
                needPolygon: true,
                needPre: true,
                searchType: 1,
                searchWord: areaName
            };
            administrative.search(config, searchResult);

            var ctrl = new T.Control.MapType([
                {
                    title: '卫星', //地图控件上所要显示的图层名称
                    icon:' http://api.tianditu.gov.cn/v4.0/image/map/maptype/satellitepoi.png',
                    layer: TMAP_HYBRID_MAP
                }
                ,{
                    title: '地图', //地图控件上所要显示的图层名称
                    icon:'http://api.tianditu.gov.cn/v4.0/image/map/maptype/vector.png', //地图控件上所要显示的图层图标（默认图标大小80x80）
                    layer: TMAP_NORMAL_MAP //地图类型对象，即MapType。
                }
            ]);
            tdMap.addControl(ctrl);
            tdMap.setMapType(TMAP_HYBRID_MAP);
        };
        // initMap();
    </script>
</body>
</html>

