<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>气象防灾减灾业务平台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
  <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all" />
  <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all" />
  <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">

</head>
<body class="layui-layout-body">
  <input id="monitorUrl" type="hidden" th:value="${monitorUrl}" >
  <input id="tianDiMapUrl" type="hidden" th:value="${tianDiMapUrl}" >

  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header  ewip-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left" style="z-index: 5;">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav" style="text-align: center;">
          <li class="layui-nav-item" lay-unselect style="font-size: 26px;"><img style="width: 35px;" th:src="@{/images/login/logo.png}">&nbsp;<span style="font-size: 26px;" th:text="${sysName}"></span>气象防灾减灾业务平台</li>
          <!--<li class="layui-nav-item" lay-unselect style="font-size: 26px;"><img style="width: 35px;" th:src="@{/images/login/logo.png}">望奎县气象防灾减灾业务平台</li>-->
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <!--<li class="layui-nav-item" lay-unselect>-->
            <!--<a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">-->
              <!--<i class="layui-icon layui-icon-notice"></i>-->
              <!--&lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;-->
              <!--<span class="layui-badge-dot"></span>-->
            <!--</a>-->
          <!--</li>-->
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <button id="monitor" class="layui-btn layui-btn-sm">统计</button>
          </li>
          <li class="layui-nav-item" lay-unselect style="margin-right: 10px;">
            <a href="javascript:;">
              <cite class="employeeName"></cite>
            </a>
            <dl class="layui-nav-child">
              <!--<dd><a lay-href="set/user/info.html" >基本资料</a></dd>-->
              <!--<dd><a lay-href="set/user/password.html" >修改密码</a></dd>-->
              <dd id="updatePassword" style="text-align: center;color: black; cursor: pointer;">修改密码</dd>
              <hr>
              <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
            </dl>
          </li>
        </ul>
      </div>


      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <!--<div class="layui-logo" style="background:#2f9688!important;box-shadow:none;box-sizing: unset;width: 190px;" lay-href="home/console.html"><span></span></div>-->
          <ul  class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li th:each="menu, menuStat: ${session.menus}" th:attr="data-name=${menu.code}, class=${menuStat.first} ? 'layui-nav-item layui-nav-itemed' : 'layui-nav-item'">
              <a href="javascript:;"  th:attr="lay-tips=${menu.name}" lay-direction="2">
                <i th:attr="class=${menu.icon}"></i><cite th:text="${menu.name}"></cite>
              </a>
              <dl th:each="child, childStat: ${menu.child}" class="layui-nav-child">
                <dd th:attr="data-name=${child.code}, class=${childStat.first} ? 'layui-this' : ''"><a th:attr="lay-href=${child.url}" th:text="${child.name}"></a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>


      <!-- 侧边菜单
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" style="background:#2f9688!important;box-shadow:none;box-sizing: unset;width: 190px;" lay-href="home/console.html">
            <span></span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="导航" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>导航</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="home" class="layui-this"><a lay-href="home">主页</a></dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="预警处理" lay-direction="2">
                <i class="layui-icon layui-icon-template"></i>
                <cite>预警处理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="edit"><a lay-href="page/warn/edit">预警编辑</a></dd>
                <dd data-name="verify"><a lay-href="page/warn/verify">预警审核</a></dd>
                <dd data-name="issue"><a lay-href="page/warn/issue">预警签发</a></dd>
                <dd data-name="emergency"><a lay-href="page/warn/emergency">应急办签发</a></dd>
                <dd data-name="publish"><a lay-href="page/warn/publish">发布中心发布</a></dd>
              </dl>
            </li>

            <li data-name="component" class="layui-nav-item" style="display: block">
              <a href="javascript:;" lay-tips="发布处理" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>发布处理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="send"><a lay-href="page/message/send" >一键发布</a></dd>
                <dd data-name="list"><a lay-href="page/message/list" >信息列表</a></dd>
                <dd data-name="total"><a lay-href="page/message/total" >信息统计</a></dd>
              </dl>
            </li>

            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-tips="业务管理" lay-direction="2">
                <i class="layui-icon layui-icon-component"></i>
                <cite>业务管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="area"><a lay-href="page/monitor/area" >地区管理</a></dd>
                <dd data-name="organization"><a lay-href="page/monitor/organization" >机构管理</a></dd>
                <dd data-name="channel"><a lay-href="page/monitor/channel" >渠道管理</a></dd>
                <dd data-name="disaster"><a lay-href="page/monitor/disaster" >灾种管理</a></dd>
                <dd data-name="group"><a lay-href="page/monitor/group" >群组管理</a></dd>
                <dd data-name="user"><a lay-href="page/monitor/user" >受众管理</a></dd>
                <dd data-name="strategy"><a lay-href="page/monitor/strategy" >策略管理</a></dd>
                <dd data-name="warn"><a lay-href="page/monitor/warn" >预警管理</a></dd>
              </dl>
            </li>

            <li data-name="app" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统管理" lay-direction="2">
                <i class="layui-icon layui-icon-app"></i>
                <cite>系统管理</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="menu"><a lay-href="page/monitor/menu" >菜单管理</a></dd>
                <dd data-name="employee"><a lay-href="page/monitor/employee" >员工管理</a></dd>
                <dd data-name="role"><a lay-href="page/monitor/role" >角色管理</a></dd>
                <dd data-name="permission"><a lay-href="page/monitor/permission" >权限管理</a></dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
       <!-- 添加弹出层 -->
      <!-- 添加弹出层 -->
      <script id="addPop" type="text/html">
        <div class="layui-form layui-form-pane">
          <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-block">
              <input type="password" id="mopwd"  name="password" lay-verify="password" autocomplete="off" placeholder="请输入原密码" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
              <input type="password" id="newpwd1" name="newpwd1" lay-verify="newpwd1" autocomplete="off" placeholder="请输入新密码" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">再次输入</label>
            <div class="layui-input-block">
              <input type="password" id="newpwd2" name="newpwd2" lay-verify="newpwd2" autocomplete="off" placeholder="请再次输入新密码" class="layui-input">
            </div>
          </div>
          <div class="layui-form-item layui-hide" >
            <div class="layui-input-block layui-col-md-offset4">
              <button class="layui-btn" lay-submit="" lay-filter="submitAddBtn" id="submitAddBtn">修改</button>
            </div>
          </div>
        </div>
      </script>


      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs" style="display: none;">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <input id="gisMapUrl" type="hidden" th:value="${gisMapUrl}" >
        <div class="layadmin-tabsbody-item layui-show" id="param" >
          <iframe th:src="@{/home}" frameborder="0" id="home" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
  <script th:inline="javascript">
  layui.config({
    base: [['layuiadmin/']] //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index','layer','laytpl','form'],function () {
      var $ = layui.$
      ,layer = layui.layer		// 引用layui弹出层
      ,laytpl = layui.laytpl		// 引用layui模板引擎
      ,form = layui.form;		// 引用layui表单

      var employee =[[${session.employee}]];
      layui.sessionData('ewip', {key:'employee',value:employee});
      $(".employeeName").text(employee.name);

      //修改密码
      $("#updatePassword").on("click",function () {
          layer.open({
              type: 1
              ,title: "<i class='layui-icon'>&#xe642;</i>修改密码"
              ,area: ['520px','300px']
              ,shade: 0.3
              ,maxmin:true
              ,offset:'50px'
              ,btn: ['修改', '取消']
              ,content:"<div id='addDiv' style='padding:20px 20px 0 20px'></div>"
              ,success: function(layero,index){
                  // 获取模板，并将数据绑定到模板，然后再弹出层中渲染
                  laytpl(addPop.innerHTML).render([], function(html){
                      // 动态获取弹出层对象并追加html
                      $("#addDiv").empty().append(html);
                  });
              }
              ,yes: function(index, layero){
                  //触发表单按钮点击事件后，立刻监听form表单提交，向后台传参
                  form.on("submit(submitAddBtn)", function(data){
                      var password=data.field.password
                      ,newpwdO=data.field.newpwd1
                      ,newpwdT=data.field.newpwd2;
                      $.ajax({
                          async: true
                          ,type: 'POST'
                          ,data: {name:employee.loginName,pass:data.field.password,id:employee.id}
                          ,url: '/client/employee/verifyPwd'
                          ,dataType: 'json'
                          ,success: function(json){
                              if(json.code == 500){
                                  layer.msg(json.msg, {time: 2000});
                              }else {
                                  if (newpwdO==password) {
                                      layer.msg("新密码不能与原密码相同", {time: 2000});
                                  }else if(newpwdO != newpwdT){
                                      layer.msg("两次输入不一致", {time: 2000});
                                  }else {
                                      $.ajax({
                                          async:true
                                          ,type: 'POST'
                                          ,data:  {name:employee.loginName,pass:newpwdO,id:employee.id}
                                          ,url: '/client/employee/updatePwd'
                                          ,dataType: 'json'
                                          ,success: function(json){
                                              layer.msg(json.msg, {time: 2000});
                                              layer.close(index);
                                          }
                                      });
                                  }
                              }
                          }
                      });
                  });
                  // 触发表单按钮点击事件
                  $("#submitAddBtn").click();
              }
          });
      })

      //跳转统计页面
      $("#monitor").on("click",function () {
          var monitorUrl=document.getElementById("monitorUrl").value;
          var tianDiMapUrl=document.getElementById("tianDiMapUrl").value;
          window.location.href=monitorUrl+"/?areaId="+ employee.areaId + "&longitude=" + employee.longitude + "&latitude=" + employee.latitude+ "&areaName=" + employee.areaName;
      })

      /**
       * 自定义验证规则
       */
      form.verify({
          password: function (value) {
              if(value.length == 0) return '请填写原密码';
          }
          ,newpwd1: function (value) {
              if (value.length == 0) return '请填写新密码';
              if (value.length<6 ||value.length>12)return '密码必须是6到12位';
          }
          ,newpwd2: function (value) {
              if (value.length == 0) return '请再次填写新密码';
          }
      });
  });
  </script>
</body>
</html>


