<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>灾害种类</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">

</head>
<body>

    <div class="layui-fluid">
        <div class="layui-card">
            <form action="javascript:;" class="layui-form layui-card-header layuiadmin-card-header-auto searchParam">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="type" placeholder="请输入灾害类型" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="color" placeholder="请输入灾害级别" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="level" placeholder="请输入灾害规模" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="damage" placeholder="请输入危害程度" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-button-btn" lay-submit="search" lay-filter="search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button class="layui-btn layui-btn-danger" type="reset">
                            <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div class="layui-card-body">
                <div class="layui-btn-group tableBar">
                    <button class="layui-btn" data-type="addBarBtn">添加</button>
                    <button class="layui-btn" data-type="deleteBarBtn">删除</button>
                </div>

                <!-- 列表：数据行操作 -->
                <script type="text/html" id="btnGroupOption">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detailsOption"><i class="layui-icon layui-icon-form"></i>详情</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateOption"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteOption"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </script>

                <!-- 添加弹出层 -->
                <script id="addPop" type="text/html">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属地区</label>
                            <div class="layui-input-block">
                                <div id="addAreaId" name="areaId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择所属地区"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" lay-verify="type" autocomplete="off" placeholder="请输入灾害类型" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <select id="color" name="color" lay-verify="color" placeholder="请选择灾害等级" lay-filter="color"  >
                                    <option value="">请选择灾种等级</option>
                                    <option value="红色">红色</option>
                                    <option value="橙色">橙色</option>
                                    <option value="黄色">黄色</option>
                                    <option value="蓝色">蓝色</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="severity" name="severity" lay-verify="severity" value="" autocomplete="off" placeholder="请输入灾害等级" class="layui-input">
                            </div>
                        </div>

                        <!--<div class="layui-form-item">-->
                            <!--<label class="layui-form-label">等级颜色</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<input type="text" name="color" lay-verify="color" autocomplete="off" placeholder="请输入等级颜色" class="layui-input">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">规模等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="level" name="level" lay-verify="level" autocomplete="off" value=""placeholder="请输入规模等级" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">危害程度</label>
                            <div class="layui-input-block">
                                <input type="text" id="damage" name="damage" lay-verify="damage" autocomplete="off" value=""placeholder="请输入危害程度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害编码</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" lay-verify="code" placeholder="请输入灾害编码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" placeholder="请输入灾害名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide" >
                            <div class="layui-input-block layui-col-md-offset4">
                                <button class="layui-btn" lay-submit="" lay-filter="submitAddBtn" id="submitAddBtn">添加</button>
                            </div>
                        </div>
                    </div>
                </script>

                <!-- 修改弹出层 -->
                <script id="updatePop" type="text/html">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属地区</label>
                            <div class="layui-input-block">
                                <div id="updateAreaId" name="areaId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择所属地区"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" lay-verify="type" value="{{d.type}}" autocomplete="off" placeholder="请输入灾害类型" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <select id="colorNew" name="color" lay-verify="color" placeholder="请选择灾害等级" lay-filter="color"  >
                                    <option value="">请选择灾种等级</option>
                                    <option value="红色">红色</option>
                                    <option value="橙色">橙色</option>
                                    <option value="黄色">黄色</option>
                                    <option value="蓝色">蓝色</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="severityNew" name="severity" lay-verify="severity" value="{{d.severity}}" autocomplete="off" placeholder="请输入灾害等级" class="layui-input">
                            </div>
                        </div>
                        <!--<div class="layui-form-item">-->
                            <!--<label class="layui-form-label">等级颜色</label>-->
                            <!--<div class="layui-input-block">-->
                                <!--<input type="text" name="color" lay-verify="code" value="{{d.color}}" placeholder="请输入等级颜色" autocomplete="off" class="layui-input">-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">规模等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="levelNew" name="level" value="{{d.level}}" placeholder="请输入规模等级" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">危害程度</label>
                            <div class="layui-input-block">
                                <input type="text" id="damageNew" name="damage" value="{{d.damage}}" lay-verify="damage" autocomplete="off" placeholder="请输入危害程度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" value="{{d.code}}" placeholder="请输入灾害编号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" value="{{d.name}}" placeholder="请输入灾害名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide" >
                            <div class="layui-input-block layui-col-md-offset4">
                                <button class="layui-btn" lay-submit="" lay-filter="submitUpdateBtn" id="submitUpdateBtn">添加</button>
                            </div>
                        </div>
                    </div>
                </script>

                <script id="detailsPop" type="text/html">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属地区</label>
                            <div class="layui-input-block">
                                <div id="detailsAreaId" name="areaId" style="pointer-events: none;"  class="select-tree layui-form-select" autocomplete="off" placeholder="请选择所属地区"></div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" disabled="disabled" lay-verify="type" value="{{d.type}}" autocomplete="off" placeholder="请输入灾害类型" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <select id="colorDetails" name="color" disabled="disabled" lay-verify="color" placeholder="请选择灾害等级" lay-filter="color"  >
                                    <option value="">请选择灾种等级</option>
                                    <option value="红色">红色</option>
                                    <option value="橙色">橙色</option>
                                    <option value="黄色">黄色</option>
                                    <option value="蓝色">蓝色</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="severityDetails"disabled="disabled"  name="severity" lay-verify="severity" value="{{d.severity}}" autocomplete="off" placeholder="请输入灾害等级" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">规模等级</label>
                            <div class="layui-input-block">
                                <input type="text" id="leveDetails" disabled="disabled" name="level" value="{{d.level}}" placeholder="请输入规模等级" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">危害程度</label>
                            <div class="layui-input-block">
                                <input type="text" id="damageDetails" disabled="disabled" name="damage" value="{{d.damage}}" lay-verify="damage" autocomplete="off" placeholder="请输入危害程度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" disabled="disabled" value="{{d.code}}" placeholder="请输入灾害编号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">灾害名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" disabled="disabled" value="{{d.name}}" placeholder="请输入灾害名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </script>

                <!-- 列表信息 -->
                <table class="layui-table" lay-filter="table" id="table"></table>
            </div>
        </div>
    </div>

    <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/ewip/base/disasterType.js}" charset="utf-8"></script>

</body>
</html>