<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>应急物资</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/ewip.css}" media="all">

</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <form action="javascript:;" class="layui-form layui-card-header layuiadmin-card-header-auto searchParam">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="请输入物资名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="type" placeholder="请输入物资类型" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="district" placeholder="请输入区县" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-button-btn" lay-submit="search" lay-filter="search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button class="layui-btn layui-btn-danger" type="reset">
                            <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </form>



            <div class="layui-card-body">

                <div class="layui-btn-group tableBar">
                    <button class="layui-btn" data-type="addBarBtn">添加</button>
                    <button class="layui-btn" data-type="deleteBarBtn">删除</button>
                </div>

                <!-- 列表：数据行操作 -->
                <script type="text/html" id="btnGroupOption">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateOption"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteOption"><i class="layui-icon layui-icon-delete"></i>删除</a>
                </script>

                <!-- 添加弹出层 -->
                <script id="addPop" type="text/html">
                    <div class="layui-form layui-form-pane">

                        <div class="layui-form-item">
                            <label class="layui-form-label">区县</label>
                            <div class="layui-input-block">
                                <input type="text" name="district" lay-verify="district"   autocomplete="off" placeholder="请输入区县" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地区编码</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" lay-verify="code"  autocomplete="off" placeholder="请输入地区编码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">经度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lon" lay-verify="lon" autocomplete="off" placeholder="请输入经度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">纬度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lat" lay-verify="lat"  autocomplete="off" placeholder="请输入纬度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="tel" autocomplete="off" placeholder="请输入单位联系电话" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" autocomplete="off" placeholder="请输入类型" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">物资名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" lay-verify="name"  autocomplete="off" placeholder="请输入物资名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">已有物资</label>
                            <div class="layui-input-block">
                                <input type="text" name="existing" lay-verify="existing"  autocomplete="off" placeholder="请输入已有物资" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">已有物资型号</label>
                            <div class="layui-input-block">
                                <input type="text" name="model" lay-verify="model"  autocomplete="off" placeholder="请输入已有物资型号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数量</label>
                            <div class="layui-input-block">
                                <input type="text" name="amount" lay-verify="amount"   autocomplete="off" placeholder="请输入数量" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用途</label>
                            <div class="layui-input-block">
                                <input type="text" name="materialUse" lay-verify="materialUse"  autocomplete="off" placeholder="请输入用途" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="address" lay-verify="address"  autocomplete="off" placeholder="请输入地址" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">管理单位</label>
                            <div class="layui-input-block">
                                <input type="text" name="unit" lay-verify="unit" autocomplete="off" placeholder="请输入管理单位" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">负责人</label>
                            <div class="layui-input-block">
                                <input type="text" name="principal"  autocomplete="off" placeholder="请输入负责人" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" autocomplete="off" placeholder="请输入电话" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide" >
                            <div class="layui-input-block layui-col-md-offset4">
                                <button class="layui-btn" lay-submit="" lay-filter="submitAddBtn" id="submitAddBtn">添加</button>
                            </div>
                        </div>
                    </div>
                </script>
                <!-- 修改弹出层 -->
                <script id="updatePop" type="text/html">
                    <div class="layui-form layui-form-pane">
                        <div class="layui-form-item">
                            <label class="layui-form-label">区县</label>
                            <div class="layui-input-block">
                                <input type="text" name="district" value="{{d.district}}" lay-verify="district"   autocomplete="off" placeholder="请输入区县" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">地区编码</label>
                            <div class="layui-input-block">
                                <input type="text" name="code" value="{{d.code}}" lay-verify="code"  autocomplete="off" placeholder="请输入地区编码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">经度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lon" value="{{d.lon}}" lay-verify="lon" autocomplete="off" placeholder="请输入经度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">纬度</label>
                            <div class="layui-input-block">
                                <input type="text" name="lat" value="{{d.lat}}" lay-verify="lat"  autocomplete="off" placeholder="请输入纬度" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">单位联系电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="tel" value="{{d.tel}}" autocomplete="off" placeholder="请输入单位联系电话" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">类型</label>
                            <div class="layui-input-block">
                                <input type="text" name="type" value="{{d.type}}" autocomplete="off" placeholder="请输入类型" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">物资名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" value="{{d.name}}" lay-verify="name"  autocomplete="off" placeholder="请输入物资名称" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">已有物资</label>
                            <div class="layui-input-block">
                                <input type="text" name="existing" value="{{d.existing}}" lay-verify="existing"  autocomplete="off" placeholder="请输入已有物资" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">已有物资型号</label>
                            <div class="layui-input-block">
                                <input type="text" name="model" value="{{d.model}}" lay-verify="model"  autocomplete="off" placeholder="请输入已有物资型号" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">数量</label>
                            <div class="layui-input-block">
                                <input type="text" name="amount" value="{{d.amount}}" lay-verify="amount"   autocomplete="off" placeholder="请输入数量" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用途</label>
                            <div class="layui-input-block">
                                <input type="text" name="materialUse" value="{{d.materialUse}}" lay-verify="materialUse"  autocomplete="off" placeholder="请输入用途" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">地址</label>
                            <div class="layui-input-block">
                                <input type="text" name="address" value="{{d.address}}" lay-verify="address"  autocomplete="off" placeholder="请输入地址" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">管理单位</label>
                            <div class="layui-input-block">
                                <input type="text" name="unit" value="{{d.unit}}" lay-verify="unit" autocomplete="off" placeholder="请输入管理单位" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">负责人</label>
                            <div class="layui-input-block">
                                <input type="text" name="principal" value="{{d.principal}}" autocomplete="off" placeholder="请输入负责人" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">手机号码</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" value="{{d.phone}}" autocomplete="off" placeholder="请输入手机号码" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item layui-hide" >
                            <div class="layui-input-block layui-col-md-offset4">
                                <button class="layui-btn" lay-submit="" lay-filter="submitUpdateBtn" id="submitUpdateBtn">添加</button>
                            </div>
                        </div>
                    </div>
                </script>
                <!-- 列表信息 -->
                <table class="layui-table" lay-filter="table" id="table"></table>
            </div>
        </div>
    </div>

    <script th:src="@{/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/ewip/base/facilitySupply.js}" charset="utf-8"></script>

</body>
</html>