<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.warn.IWarnEditContentMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.warn.WarnEditContent">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="warn_edit_id" jdbcType="VARCHAR" property="warnEditId"/>
        <result column="channel_id" jdbcType="VARCHAR" property="channelId"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="area_code" jdbcType="VARCHAR" property="areaCode"/>


    </resultMap>

    <!--根据预警基础信息id查询对应的内容信息-->
    <select id="selectByWarnEditId" resultMap="BaseResultMap">

        SELECT
            wec.id,
            wec.warn_edit_id,
            wec.content,
            wec.channel_id,
            c.name channel_name,
            c.code channel_code,
            wec.area_id,
            a.area_name,
            a.code area_code
        FROM
            warn_edit_content wec
        LEFT JOIN area a on a.id = wec.area_id
        LEFT JOIN channel c on c.id = wec.channel_id
        where wec.warn_edit_id = #{warnEditId}
    </select>

    <!-- 预警内容批量插入 -->
    <insert id="insertList" >
        insert into warn_edit_content (id, warn_edit_id,channel_id,area_id,content,create_time )
        values
        <foreach collection="list" item="item" separator=",">
            ( REPLACE(UUID(),'-',''), #{item.warnEditId}, #{item.channelId}, #{item.areaId}, #{item.content}, now())
        </foreach>
    </insert>

    <!-- 根据预警编辑ID删除预警内容信息 -->
    <delete id="deleteContentByWarnEditId">
        DELETE FROM warn_edit_content WHERE warn_edit_id = #{warnEditId}
    </delete>

</mapper>