<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.warn.IWarnEditMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.warn.WarnEdit">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
        <result column="disaster_id" jdbcType="VARCHAR" property="disasterId"/>
        <result column="disaster_name" jdbcType="VARCHAR" property="disasterName"/>
        <result column="disaster_color" jdbcType="SMALLINT" property="disasterColor"/>
        <result column="disaster_level" jdbcType="SMALLINT" property="disasterLevel"/>
        <result column="warn_type" jdbcType="VARCHAR" property="warnType"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="forecast_time" jdbcType="TIMESTAMP" property="forecastTime"/>
        <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime"/>
        <result column="record" jdbcType="SMALLINT" property="record"/>
        <result column="measure" jdbcType="VARCHAR" property="measure"/>
        <result column="instruction" jdbcType="VARCHAR" property="instruction"/>
        <result column="flow" jdbcType="VARCHAR" property="flow"/>
        <result column="current_flow" jdbcType="SMALLINT" property="currentFlow"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 修改预警状态 -->
    <update id="updateStatus">
        update warn_edit set status = #{status} where id = #{id}
    </update>

</mapper>