<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.warn.IWarnEditMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.warn.WarnEdit">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
        <result column="disaster_id" jdbcType="VARCHAR" property="disasterId"/>
        <result column="disaster_name" jdbcType="VARCHAR" property="disasterName"/>
        <result column="disaster_color" jdbcType="SMALLINT" property="disasterColor"/>
        <result column="disaster_level" jdbcType="SMALLINT" property="disasterLevel"/>
        <result column="disaster_code" jdbcType="VARCHAR" property="disasterCode"/>
        <result column="warn_type" jdbcType="VARCHAR" property="warnType"/>
        <result column="msg_type" jdbcType="VARCHAR" property="msgType"/>
        <result column="scope" jdbcType="VARCHAR" property="scope"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
        <result column="forecast_time" jdbcType="TIMESTAMP" property="forecastTime"/>
        <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime"/>
        <result column="record" jdbcType="SMALLINT" property="record"/>
        <result column="measure" jdbcType="VARCHAR" property="measure"/>
        <result column="instruction" jdbcType="VARCHAR" property="instruction"/>
        <result column="flow" jdbcType="VARCHAR" property="flow"/>
        <result column="current_flow" jdbcType="SMALLINT" property="currentFlow"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
    </resultMap>

    <!-- 查询预警配置信息 -->
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
            we.id,
            we.title,
            d.name disaster_name,
            d.icon,
            d.disaster_color,
            d.disaster_level,
            wef.warn_edit_id,
            wef.employee_id,
            wef.employee_name,
            wef.organization_id,
            wef.organization_name,
            wef.flow,
            wef.advice,
            we.warn_type,
            we.msg_type,
            we.scope,
            we.status,
            wef.create_time
        FROM
          warn_edit we
        LEFT JOIN warn_edit_flow wef ON wef.warn_edit_id = we.id
        LEFT JOIN disaster d ON d.id = we.disaster_id
        WHERE 1=1
        <if test="id != null and id != ''"> AND we.id = #{id} </if>
        <if test="areaId != null and areaId != ''"> AND we.area_id = #{areaId} </if>
        <if test="organizationId != null and organizationId != ''"> AND we.organization_id = #{organizationId} </if>
        <if test="disasterName != null and disasterName != ''"> AND d.name = #{disasterName} </if>
        <if test="disasterColor != null and disasterColor != ''"> AND we.disaster_color = #{disasterColor} </if>
        <if test="disasterLevel != null and disasterLevel != ''"> AND we.disaster_level = #{disasterLevel} </if>
        <if test="flow != null and flow != ''"> AND wef.flow = #{flow} </if>
        GROUP BY wef.warn_edit_id HAVING MAX(wef.create_time)
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY wef.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="selectByWarnEditId" resultMap="BaseResultMap">
        select
          we.id,
          we.title,
          we.area_id,
          we.organization_id,
          o.organization_name,
          we.disaster_id,
          we.warn_type,
          we.edit_time,
          we.forecast_time,
          we.invalid_time,
          we.record,
          we.measure,
          we.instruction,
          we.msg_type,
          we.scope,
          we.send_time,
          d.name disaster_name,
          d.code disaster_code,
          d.disaster_color,
          d.disaster_level,
          d.icon
        from warn_edit we
		LEFT JOIN disaster d on d.id = we.disaster_id
		LEFT JOIN organization o on o.id = we.organization_id
        where we.id = #{warnEditId}
    </select>

    <!-- 修改预警状态 -->
    <update id="updateStatus">
        update warn_edit set status = #{status}, send_time = now() where id = #{id}
    </update>

</mapper>