<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.warn.IWarnEditOptionMapper">

    <resultMap id="FlowResultMap" type="com.hyt.server.entity.warn.WarnEditOption">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="warn_edit_flow_id" jdbcType="VARCHAR" property="warnEditFlowId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
        <result column="disaster_id" jdbcType="VARCHAR" property="disasterId"/>
        <result column="disaster_name" jdbcType="VARCHAR" property="disasterName"/>
        <result column="disaster_color" jdbcType="VARCHAR" property="disasterColor"/>
        <result column="disaster_level" jdbcType="VARCHAR" property="disasterLevel"/>
        <result column="disaster_icon" jdbcType="VARCHAR" property="disasterIcon"/>
        <result column="warn_type" jdbcType="VARCHAR" property="warnType"/>
        <result column="flow" jdbcType="VARCHAR" property="flow"/>
        <result column="current_flow" jdbcType="INTEGER" property="currentFlow"/>
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>

    <!--根据条件查询预警编辑流程信息-->
    <select id="selectFlowByParam" resultMap="FlowResultMap">
        SELECT
            we.id,
            we.title,
            we.area_id,
            we.organization_id,
            we.disaster_id,
            d.name disaster_name,
            d.disaster_color,
            d.disaster_level,
            d.icon disaster_icon,
            we.warn_type,
            we.edit_time,
            we.flow,
            wef.flow current_flow,
            (
            CASE
            WHEN wef.flow = 3 THEN
              wef.employee_name
            WHEN wef.flow = 4 THEN
              wef.employee_name
            ELSE wef.employee_name END
            ) employee_name,
            wef.id warn_edit_flow_id
        FROM
          warn_edit we
        LEFT JOIN warn_edit_flow wef ON wef.warn_edit_id = we.id
        LEFT JOIN disaster d ON d.id = we.disaster_id
        WHERE status = 0
        <if test="disasterId != null and disasterId != ''">AND we.disaster_Id = #{disasterId}</if>
        <if test="disasterColor != null and disasterColor != ''">AND we.disaster_color = #{disasterColor}</if>
        <if test="disasterLevel != null and disasterLevel != ''">AND we.disaster_level = #{disasterLevel}</if>
        <if test="warnType != null and warnType != ''">AND we.warn_type = #{warnType}</if>
        <if test="areaId != null and areaId != ''">AND we.area_id = #{areaId}</if>
        <if test="organizationId != null and organizationId != ''">AND wef.organization_id = #{organizationId}</if>
        <if test="currentFlow != null and currentFlow != ''">AND wef.flow = #{currentFlow}</if>
        <if test="isOption != null and isOption != ''">AND wef.is_option = #{isOption}</if>

        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY we.create_time DESC
            </otherwise>
        </choose>
    </select>


    <!--微信接口获取当前预警信息-->
    <select id="getWechatWarnInfo" resultType="map">

        SELECT
            DISTINCT we.id
            ,d.code  eventType
            ,d.icon img
            ,d.name disasterName
            ,d.disaster_color disasterColor
            ,d.disaster_level disasterLevel
            ,o.organization_name organizationName
            ,we.msg_type msgType
            ,DATE_FORMAT(we.send_time,'%Y-%m-%d %H:%i:%s') effective
            ,wec.content description
            ,we.instruction
        FROM warn_edit we
        LEFT JOIN disaster d ON d.id = we.disaster_id
        LEFT JOIN organization o ON o.id = we.organization_id
        LEFT JOIN warn_edit_content wec ON wec.warn_edit_id = we.id

        WHERE DATE_FORMAT(we.send_time,'%Y-%m-%d') = DATE_FORMAT(now(),'%Y-%m-%d')
        AND status > 0

    </select>


    <!--查找预警个数-->
    <select id="selectWarn" resultType="map">
    	SELECT 1 flow,count(*) count FROM(
				SELECT wef.flow FROM warn_edit we
				LEFT JOIN warn_edit_flow wef on we.id = wef.warn_edit_id
				WHERE we.status = 0 and wef.is_option = 0
				AND wef.flow = 1
				AND we.area_id =  #{areaId}
				GROUP BY wef.warn_edit_id
			) tab
        union all
        (SELECT 2 flow,count(*) count FROM(
				SELECT wef.flow FROM warn_edit we
				LEFT JOIN warn_edit_flow wef on we.id = wef.warn_edit_id
				WHERE we.status = 0 and wef.is_option = 0
				AND wef.flow = 2
			    AND we.area_id =  #{areaId}
				GROUP BY wef.warn_edit_id
			) tab)
        union all
        (SELECT 3 flow,count(*) count FROM(
				SELECT wef.flow FROM warn_edit we
				LEFT JOIN warn_edit_flow wef on we.id = wef.warn_edit_id
				WHERE we.status = 0 and wef.is_option = 0
				AND wef.flow = 3
				AND we.area_id =  #{areaId}
				GROUP BY wef.warn_edit_id
			) tab)
        union all
        (SELECT 4 flow,count(*) count FROM(
				SELECT wef.flow FROM warn_edit we
				LEFT JOIN warn_edit_flow wef on we.id = wef.warn_edit_id
				WHERE we.status = 0 and wef.is_option = 0
				AND wef.flow = 4
				AND we.area_id =  #{areaId}
				GROUP BY wef.warn_edit_id
			) tab)
        union all
        (SELECT 6 flow,count(*) count FROM(
				SELECT wef.flow FROM warn_edit we
				LEFT JOIN warn_edit_flow wef on we.id = wef.warn_edit_id
				WHERE we.status = 0 and wef.is_option = 0
				AND wef.flow = 6
				AND we.area_id =  #{areaId}
				GROUP BY wef.warn_edit_id
			) tab)
    </select>

</mapper>