<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>策略配置管理</title>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" th:href="@{/static/layuiadmin/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/layuiadmin/style/admin.css}" media="all">
    <link rel="stylesheet" th:href="@{/static/css/ocpp.css}" media="all">

</head>
<body>

    <!-- 列表：数据行操作 -->
    <script type="text/html" id="btnGroupOption">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detailsOption"><i class="layui-icon layui-icon-form"></i>详情</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="updateOption"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="deleteOption"><i class="layui-icon layui-icon-delete"></i>删除</a>
    </script>

    <!-- 添加弹出层 -->
    <script id="addPop" type="text/html">
        <div class="layui-form layui-form-pane">
            <input type="hidden" value="" name="name" placeholder="策略名称"/>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="hidden" name="disasterName">
                    <div id="addDisasterId" name="disasterId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择灾种名称"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种颜色</label>
                <div class="layui-input-block">
                    <select name="disasterColor" placeholder="请选择预警颜色" disabled>
                        <option value="">请选择预警颜色</option>
                        <option value="0">红色</option>
                        <option value="1">橙色</option>
                        <option value="2">黄色</option>
                        <option value="3">蓝色</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种级别</label>
                <div class="layui-input-block">
                    <select name="disasterLevel" placeholder="请选择预警级别" disabled>
                        <option value="">请选择预警级别</option>
                        <option value="0">Ⅰ级/特别重大</option>
                        <option value="1">Ⅱ级/重大</option>
                        <option value="2">Ⅲ级/较大</option>
                        <option value="3">Ⅳ级/一般</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">渠道配置</label>
                <div class="layui-input-block ewip-div-border" id="addChannelId"></div>
            </div>

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitAddBtn" id="submitAddBtn">添加</button>
                </div>
            </div>
        </div>
    </script>

    <!-- 修改弹出层 -->
    <script id="updatePop" type="text/html">
        <div class="layui-form layui-form-pane">
            <input type="hidden" name="name" value="{{d.name}}" placeholder="策略名称"/>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="hidden" name="disasterName">
                    <div id="updateDisasterId" name="disasterId" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择灾种名称"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种颜色</label>
                <div class="layui-input-block">
                    <select name="disasterColor" placeholder="请选择预警颜色" disabled>
                        <option value="">请选择预警颜色</option>
                        <option value="0">红色</option>
                        <option value="1">橙色</option>
                        <option value="2">黄色</option>
                        <option value="3">蓝色</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种级别</label>
                <div class="layui-input-block">
                    <select name="disasterLevel" placeholder="请选择预警级别" disabled>
                        <option value="">请选择预警级别</option>
                        <option value="0">Ⅰ级/特别重大</option>
                        <option value="1">Ⅱ级/重大</option>
                        <option value="2">Ⅲ级/较大</option>
                        <option value="3">Ⅳ级/一般</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">渠道配置</label>
                <div class="layui-input-block ewip-div-border" id="updateChannelId"></div>
            </div>

            <div class="layui-form-item layui-hide" >
                <div class="layui-input-block layui-col-md-offset4">
                    <button class="layui-btn" lay-submit="" lay-filter="submitUpdateBtn" id="submitUpdateBtn">修改</button>
                </div>
            </div>
        </div>
    </script>

    <!-- 详情弹出层 -->
    <script id="detailsPop" type="text/html">
        <div class="layui-form layui-form-pane">
            <input type="hidden" name="name" value="{{d.name}}" placeholder="策略名称"/>

            <div class="layui-form-item">
                <label class="layui-form-label">灾种名称</label>
                <div class="layui-input-block">
                    <input type="hidden" name="disasterName">
                    <div id="detailsDisasterId" name="disasterId" style="pointer-events: none;" class="select-tree layui-form-select" autocomplete="off" placeholder="请选择灾种名称"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种颜色</label>
                <div class="layui-input-block">
                    <select name="disasterColor" placeholder="请选择预警颜色" disabled="disabled">
                        <option value="">请选择预警颜色</option>
                        <option value="0">红色</option>
                        <option value="1">橙色</option>
                        <option value="2">黄色</option>
                        <option value="3">蓝色</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">灾种级别</label>
                <div class="layui-input-block">
                    <select name="disasterLevel" placeholder="请选择预警级别" disabled="disabled">
                        <option value="">请选择预警级别</option>
                        <option value="0">Ⅰ级/特别重大</option>
                        <option value="1">Ⅱ级/重大</option>
                        <option value="2">Ⅲ级/较大</option>
                        <option value="3">Ⅳ级/一般</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">渠道配置</label>
                <div class="layui-input-block ewip-div-border" id="detailsChannelId" disabled="disabled"></div>
            </div>
        </div>
    </script>

    <div class="layui-fluid">
        <div class="layui-row layui-col-space8">
            <div class="layui-col-sm3 ewip-panel-left">
                <div class="layui-card">
                    <div class="layui-card-header"><span>&nbsp;&nbsp;<i class="layui-icon layui-icon-tree warn-card-hader-icon"></i>灾种配置</span></div>
                    <div class="layui-card-body">
                        <ul id="disasterLevelTree" class="ztree ewip-left-tree"></ul>
                    </div>
                </div>
            </div>

            <div class="layui-col-sm9 ewip-panel-right">
                <div class="layui-card">
                    <form action="javascript:;" class="layui-form layui-card-header layuiadmin-card-header-auto searchParam">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <input type="text" name="disasterName" placeholder="请输入预警名称" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-inline">
                                <select id="searchDisasterColor" name="disasterColor" placeholder="请选择预警颜色">
                                    <option value="">请选择预警颜色</option>
                                    <option value="0">红色</option>
                                    <option value="1">橙色</option>
                                    <option value="2">黄色</option>
                                    <option value="3">蓝色</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <select id="searchDisasterLevel" name="disasterLevel" placeholder="请选择预警级别">
                                    <option value="">请选择预警级别</option>
                                    <option value="0">Ⅰ级/特别重大</option>
                                    <option value="1">Ⅱ级/重大</option>
                                    <option value="2">Ⅲ级/较大</option>
                                    <option value="3">Ⅳ级/一般</option>
                                </select>
                            </div>

                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-button-btn" lay-submit="search" lay-filter="search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                                <button class="layui-btn layui-btn-danger" type="reset">
                                    <i class="layui-icon layui-icon-delete layuiadmin-button-btn"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="layui-card-body">
                        <div class="layui-btn-group tableBar">
                            <button class="layui-btn" data-type="addBarBtn">添加</button>
                            <button class="layui-btn" data-type="deleteBarBtn">删除</button>
                        </div>
                        <!-- 列表信息 -->
                        <table class="layui-table" lay-filter="table" id="table"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/static/layuiadmin/layui/layui.js}" ></script>
    <script th:src="@{/static/ocpp/sys/strategy.js}" charset="utf-8"></script>

</body>
</html>