<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.message.IMessageFileMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.message.MessageFile">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

    </resultMap>

    <!-- 一键发布对应文件批量插入 -->
    <insert id="insertList" >
        insert into message_file (id, message_id, name, size, url, create_time )
        values
        <foreach collection="list" item="item" separator=",">
            ( REPLACE(UUID(),'-',''), #{item.messageId}, #{item.name}, #{item.size}, #{item.url}, now())
        </foreach>
    </insert>

    <select id="selectByMessageId" resultMap="BaseResultMap">
        SELECT
            id,
            message_id,
            name,
            size,
            url
        FROM
            message_file
        where message_id = #{messageId}
    </select>

</mapper>