<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.message.IMessageMonitorMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.message.MessageMonitor">
        <id column="message_id" jdbcType="VARCHAR" property="messageId"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="value" jdbcType="SMALLINT" property="value"/>
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="channel_code" jdbcType="VARCHAR" property="channelCode"/>
        <result column="total" jdbcType="BIGINT" property="total"/>
        <result column="success" jdbcType="BIGINT" property="success"/>
        <result column="fail" jdbcType="BIGINT" property="fail"/>
    </resultMap>

    <!--统计列表信息-->
    <select id="findMessageMonitor" resultMap="BaseResultMap">
        SELECT
            c.name channel_name,
            mcm.message_id,
            mcm.channel_code,
            SUM(mcm.total) total,
            SUM(mcm.success) success,
            SUM(mcm.fail) fail
        FROM
          message_callback_main mcm
        LEFT JOIN  channel c ON mcm.channel_code = c.code
        WHERE 1=1
        <if test="messageId != null and messageId != ''">
            AND message_id = #{messageId}
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                AND DATE_FORMAT(mcm.create_time, '%Y-%m-%d') >= #{startTime}
            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                AND DATE_FORMAT(mcm.create_time, '%Y-%m-%d') <= #{endTime}
            ]]>
        </if>
		GROUP BY mcm.channel_code
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY mcm.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 根据一键发布类型进行统计（饼图） -->
    <select id="findMessageTypeTotal" resultMap="BaseResultMap">
        SELECT
            id,
            COUNT(type) value,
            type
        FROM
            message
        WHERE 1=1
        <if test="messageId != null and messageId != ''">
            AND message_id = #{messageId}
        </if>
        <if test="startTime != null and startTime != ''">
            <![CDATA[
                AND DATE_FORMAT(send_time, '%Y-%m-%d') >= #{startTime}
            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                AND DATE_FORMAT(send_time, '%Y-%m-%d') <= #{endTime}
            ]]>
        </if>
        GROUP BY TYPE

    </select>

    <!-- 根据一键发布渠道进行统计（柱状图） -->
    <select id="findMessageChannelTotal"  resultMap="BaseResultMap">
        SELECT
            c.name channel_name,
            mcm.message_id,
            mcm.channel_code,
            SUM(mcm.total) total,
            SUM(mcm.success) success,
            SUM(mcm.fail) fail
        FROM
          message_callback_main mcm
        LEFT JOIN  channel c ON mcm.channel_code = c.code

        <if test="type != null and type !='' ">
            LEFT JOIN message m ON m.id = mcm.message_id
        </if>

        WHERE 1=1
        <if test="messageId != null and messageId != ''">
            AND mcm.message_id = #{messageId}
        </if>

        <if test="type != null and type != ''">
            AND m.type = #{type}
        </if>

        <if test="startTime != null and startTime != ''">
            <![CDATA[
                AND DATE_FORMAT(mcm.create_time, '%Y-%m-%d') >= #{startTime}
            ]]>
        </if>
        <if test="endTime != null and endTime != ''">
            <![CDATA[
                AND DATE_FORMAT(mcm.create_time, '%Y-%m-%d') <= #{endTime}
            ]]>
        </if>
        GROUP BY mcm.channel_code

    </select>
</mapper>