<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyt.server.mapper.message.IMessageMapper">

    <resultMap id="BaseResultMap" type="com.hyt.server.entity.message.Message">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="area_id" jdbcType="VARCHAR" property="areaId"/>
        <result column="area_name" jdbcType="VARCHAR" property="areaName"/>
        <result column="organization_id" jdbcType="VARCHAR" property="organizationId"/>
        <result column="organization_name" jdbcType="VARCHAR" property="organizationName"/>
        <result column="type" jdbcType="SMALLINT" property="type"/>
        <result column="template" jdbcType="SMALLINT" property="template"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
    </resultMap>


    <!-- 分页查询一键发布列表信息 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
            id,
            title,
            organization_id,
            organization_name,
            area_id,
            area_name,
            type,
            send_time
        FROM message where 1=1
        <if test="id != null and id != ''">AND id = #{id}</if>
        <if test="title != null and title != ''">AND title LIKE '${title}%'</if>
        <if test="type != null and type != ''">AND type = #{type}</if>
        <choose>
            <when test="sortName !=null and sortName!='id'">
                ORDER BY ${sortName} ${sortOrder}
            </when >
            <otherwise>
                ORDER BY send_time DESC
            </otherwise>
        </choose>
    </select>


    <!--根据ID查询一键发布信息-->

    <select id="selectByMessageId" resultMap="BaseResultMap">
        select
            id,
            organization_id,
            organization_name,
            area_id,
            area_name,
            title,
            type,
            send_time
        FROM message
        where id = #{messageId}
    </select>

</mapper>