<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IFacilityShelterMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.FacilityShelter" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="capacity" property="capacity" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="createUser" jdbcType="VARCHAR" property="createUser"/>
    <result column="updateUser" jdbcType="VARCHAR" property="updateUser"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, district, address, code, area, capacity, unit, principal, tel, phone, lon, 
    lat
  </sql>
  <!-- 查询应急避难所信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    s.*,a.area_name areaName,e.name createUserName,em.name updateUserName
    FROM base_facility_shelter s
    left join employee e on s.createUser=e.id
    left join employee em on s.updateUser=em.id
    left join area a on s.district=a.id
    where 1=1 and a.code like '${areaCode}%'
    <if test="id != null and id != ''">AND s.id = #{id}</if>
    <if test="district != null and district != ''">AND s.district = #{district}</if>
    <if test="name != null and name != ''">AND s.name = #{name} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY s.create_time DESC
      </otherwise>
    </choose>
  </select>
</mapper>