<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IFacilityOfficeMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.FacilityOffice" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="worker" property="worker" jdbcType="INTEGER" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />

    <result column="createUser" jdbcType="VARCHAR" property="createUser"/>
    <result column="updateUser" jdbcType="VARCHAR" property="updateUser"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, name, unit, area, worker, lon, lat, principal, phone, address, description
  </sql>
  <!-- 查询办公场所信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    o.*,a.area_name areaName,e.name createUserName,em.name updateUserName
    FROM base_facility_office o
    left join employee e on o.createUser=e.id
    left join employee em on o.updateUser=em.id
    left join area a on o.area_id=a.id
    where 1=1  and FIND_IN_SET(o.area_id, getAreaCList(#{empAreaId}))
    <if test="id != null and id != ''">AND o.id = #{id}</if>
    <if test="type != null and type != ''">AND o.type = #{type}</if>
    <if test="unit != null and unit != ''">AND o.unit = #{unit} </if>
    <if test="name != null and name != ''">AND o.name = #{name} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY o.create_time DESC
      </otherwise>
    </choose>
  </select>
</mapper>