<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IRiskWaterloggingAreaMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.RiskWaterloggingArea" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="street_code" property="streetCode" jdbcType="VARCHAR" />
    <result column="measures" property="measures" jdbcType="VARCHAR" />
    <result column="depth" property="depth" jdbcType="DOUBLE" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="1h_prec" property="Prec1" jdbcType="DOUBLE" />
    <result column="monitor_organ" property="monitorOrgan" jdbcType="VARCHAR" />
    <result column="monitor_people" property="monitorPeople" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, code, lon, lat, province, province_code, city, city_code, district, district_code, 
    stree, street_code, measures, depth, area, 1h_prec, monitor_organ, monitor_people, 
    contact
  </sql>
  <!-- 查询易涝区信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT r.*,a.area_name areaName FROM base_risk_waterlogging_area r
    left join area a on r.district=a.id
    where 1=1 and a.code like '${areaCode}%'
    <if test="id != null and id != ''">AND r.id = #{id}</if>
    <if test="name != null and name != ''">AND r.name = #{name} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY r.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>