<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IRiskWaterloggingMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.RiskWaterlogging" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="alt" property="alt" jdbcType="DOUBLE" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="stree" property="stree" jdbcType="VARCHAR" />
    <result column="street_code" property="streetCode" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="depth" property="depth" jdbcType="DOUBLE" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="1h_prec" property="Prec1" jdbcType="DOUBLE" />
    <result column="2h_prec" property="Prec2" jdbcType="DOUBLE" />
    <result column="3h_prec" property="Prec3" jdbcType="DOUBLE" />
    <result column="6h_prec" property="Prec6" jdbcType="DOUBLE" />
    <result column="12h_prec" property="Prec12" jdbcType="DOUBLE" />
    <result column="24h_prec" property="Prec24" jdbcType="DOUBLE" />
    <result column="range_lon" property="rangeLon" jdbcType="VARCHAR" />
    <result column="range_lat" property="rangeLat" jdbcType="VARCHAR" />
    <result column="monitor_organ" property="monitorOrgan" jdbcType="VARCHAR" />
    <result column="monitor_people" property="monitorPeople" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, code, lon, lat, alt, province, province_code, city, city_code, district, 
    district_code, stree, street_code, start_time, end_time, depth, area, 1h_prec, 2h_prec, 
    3h_prec, 6h_prec, 12h_prec, 24h_prec, range_lon, range_lat, monitor_organ, monitor_people, 
    contact
  </sql>
  <!-- 查询内涝隐患点信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    base_risk_waterlogging
    where 1=1
    <if test="id != null and id != ''">AND id = #{id}</if>
    <if test="name != null and name != ''">AND name = #{name} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY id DESC
      </otherwise>
    </choose>
  </select>
</mapper>