<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IRiskDepressionMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.RiskDepression" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="district_code" property="districtCode" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="VARCHAR" />
    <result column="stability" property="stability" jdbcType="VARCHAR" />
    <result column="monitor_organ" property="monitorOrgan" jdbcType="VARCHAR" />
    <result column="monitor_people" property="monitorPeople" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="weather_causes" property="weatherCauses" jdbcType="VARCHAR" />
    <result column="24h_prec" property="Prec24" jdbcType="DOUBLE" />
    <result column="1h_prec" property="Prec1" jdbcType="DOUBLE" />
  </resultMap>
  <!-- 查询洼地信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT
    r.*,a.area_name areaName FROM base_risk_depression r
    left join area a on r.district=a.id
    where 1=1  and FIND_IN_SET(r.district, getAreaCList(#{empAreaId}))
    <if test="id != null and id != ''">AND r.id = #{id}</if>
    <if test="type != null and type != ''">AND r.type = #{type}</if>
    <if test="scale != null and scale != ''">AND r.scale = #{scale} </if>
    <if test="stability != null and stability != ''">AND r.stability = #{stability} </if>
    <if test="name != null and name != ''">AND r.name = #{name} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY r.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>