<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyt.server.mapper.base.IUnitSchoolMapper" >
  <resultMap id="BaseResultMap" type="com.hyt.server.entity.base.UnitSchool" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="district" property="district" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="DOUBLE" />
    <result column="people" property="people" jdbcType="INTEGER" />
    <result column="lon" property="lon" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="createUser" jdbcType="VARCHAR" property="createUser"/>
    <result column="updateUser" jdbcType="VARCHAR" property="updateUser"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, district, area, people, lon, lat, unit, principal, phone, description
  </sql>
  <!-- 查询学校信息 -->
  <select id="findAll" resultMap="BaseResultMap">
    SELECT u.*,a.area_name areaName,e.name createUserName,em.name updateUserName
    FROM base_unit_school u
    left join employee e on u.createUser=e.id
    left join employee em on u.updateUser=em.id
    left join area a on u.district=a.id
    where 1=1  and FIND_IN_SET(u.district, getAreaCList(#{empAreaId}))
    <if test="id != null and id != ''">AND u.id = #{id}</if>
    <if test="name != null and name != ''">AND u.name = #{name} </if>
    <if test="type != null and type != ''">AND u.type = #{type} </if>
    <choose>
      <when test="sortName !=null and sortName!='id'">
        ORDER BY ${sortName} ${sortOrder}
      </when >
      <otherwise>
        ORDER BY u.create_time DESC
      </otherwise>
    </choose>
  </select>
</mapper>