<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxyt.ocpp.client.mapper.warn.IWarnEditFileMapper">

    <resultMap id="BaseResultMap" type="com.zxyt.ocpp.client.entity.warn.WarnEditFile">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="warn_edit_id" jdbcType="VARCHAR" property="warnEditId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="size" jdbcType="VARCHAR" property="size"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>

    </resultMap>



    <!-- 预警编辑对应文件批量插入 -->
    <insert id="insertList" >
        insert into warn_edit_file (id, warn_edit_id, name, size, url, create_time )
        values
        <foreach collection="list" item="item" separator=",">
            ( REPLACE(UUID(),'-',''), #{item.warnEditId}, #{item.name}, #{item.size}, #{item.url}, now())
        </foreach>
    </insert>



</mapper>